---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/page-layout.astro";
import Container from "@/components/container.astro";
import SimpleLink from "@/components/simple-link.astro";
import { PROJECTS } from "@/config/site";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="font-bold text-primary dark:text-white">
        {PROJECTS.TITLE}
      </h1>
      <ul class="flex flex-col list-none space-y-4">
        {
          projects.map((project) => (
            <li>
              <SimpleLink entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
